{{define "nav"}}
<nav>
    <div>
        <a href='/'>Home</a>
        <a href="/about">About</a>

        {{if .IsAuthenticated}}
        <a href='/post/create'>Create post</a>
        {{end}}
    </div>


    {{if .IsAuthenticated}}
    <div>
        <a href="/account/view">Account</a>

        <form action="/logout" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <button>Logout</button>
        </form>
    </div>
    {{else}}
    <div>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>
    {{end}}
</nav>
{{end}}