{{define "title"}}Register{{end}}

{{define "main"}}
<form action='/register' method='POST' novalidate>
    <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
    <div>
        <label>Username:</label>
        {{with .Form.FieldErrors.username}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='text' name='username' value='{{.Form.Username}}'>
    </div>
    <div>
        <label>Email:</label>
        {{with .Form.FieldErrors.email}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='email' name='email' value='{{.Form.Email}}'>
    </div>
    <div>
        <label>Password:</label>
        {{with .Form.FieldErrors.password}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='password'>
    </div>
    <div>
        <label>Confirm password:</label>
        {{with .Form.FieldErrors.confirmPassword}}
            <label class='error'>{{.}}</label>
        {{end}}
        <input type='password' name='confirmPassword'>
    </div>
    <div>
        <input type='submit' value='Signup'>
    </div>
</form>
{{end}}